html, body{
    font-family: sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    font-weight: bold;
}

hr{
    display: none;
}

table{
    width: 100%;
}

/* Колонки */
div.facade{
    width: 100%;
    top: 6em;
    position: relative;
    display: table;
}

div.leftColumn{
    display: table-cell;
    vertical-align: top;
    float: left;
    width: 14em;
    left: 0em;
    height: 100%;
}

div.middleColumn{
    display: table-cell;
    vertical-align: top;
    margin-left: 14em;
    margin-right: 25em;
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
}

div.rightColumn{
    vertical-align: top;
    display: table-cell;
    width: 10em;
    height: 100%;
}

nav > div {
    position: absolute;
}

a.kapitel{
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
}

/* Крыша */
nav.roof{
    width: 100%;
    height: 4em;
    display: table;
    position: absolute;
}

div.logo{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: block;
}

div.logo p{
    margin: 0em;
}

div.menu a{
    margin-right: 1em;
    font-size: small;
    line-height: 2em;
}

div.search{
    padding: 2px;
    height: 4em;
    top: 0em;
    position: relative;
    margin-right: 14em;
    margin-left: 14em;
    display: block;
}

div.search input{
    margin: 2px;
}

div.search form {
    background-color: red;
    height: 2.5em;
}

div.search form input.search_text{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    width: 85%;
}

div.search form input.search_button{
    margin-right: 0px;
    position: relative;
}

div.login{
    float: right;
    width: 14em;
    height: 100%;
    text-align: right;
    top: 1em;
    right: 1em;
    position: absolute;
}

/* Фасад */
.important {
    font-weight: bold;
}

.error{
    font-size: small;
    font-style: italic;
    color: red;
    font-weight: normal;
    display: block;
}


div.facade div.sidebarLeft ul{
    list-style-type: none;
    font-size: small;   
    margin-top: 0px;
}

div.facade div.sidebarLeft ul li {
    line-height: 2em;
}

div.facade div.sidebarLeft ul li ul{
    margin-left: -2em;
}

div.facade div.sidebarRight{
    width: 25em;
}

table.question{
    border-bottom-style: solid;
    border-bottom-color: gainsboro;
    border-bottom-width: thin;
}

table.question tbody tr td.question_number{
    width: 30%;
    font-style: italic;
    font-size: smaller;
    vertical-align: top;
}

table.question tbody tr td.question_self_text{
    width: 30%;
    font-size: smaller;
    vertical-align: top;
}

table.question tbody tr td.question_text{
    width: 70%;
    font-size: smaller;
    font-weight: bolder;
    padding: 2px;
}

table.question tbody tr td textarea {
    width: 100%;
    height: 3em;
    margin: 2px;
}

table.question tbody tr td input[type="text"] {
    width: 100%;
    margin: 2px;
}

span.hint{
    font-size: small;
    color: lightslategrey;
    font-weight: normal;
}

td.submit{
    background-color: gainsboro;
    padding-left: 2em;
    padding-right: 2em;
}

td.submit input[type="submit"] {
    margin-left: 12em;
}

body {
    position: relative;
    padding-bottom: 9em;
}

/* Подвал */
footer {
    width: 100%;
    height: 3em;
    bottom: 0em;
    position: absolute;
    display: table;
    font-size: small;
    color: lightslategrey;
    font-weight: normal;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: gainsboro;
}

footer > * {
    display: table-cell;
    padding-left: 2em;
    padding-right: 2em;
    width: 20%;
}

.d_menu {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    list-style: none;
    top: 0.6em;
    right: 17em;
}

.d_menu li{
    line-height: 1em;
    margin-left: -2em;
}